{
  "swagger": "2.0",
  "info": {
    "description": "Keap REST Core Service",
    "version": "2.70.0.751586-hf-202412120145",
    "title": "Keap REST API",
    "termsOfService": "https://keap.com/legal",
    "contact": {
      "name": "Keap",
      "url": "https://developer.keap.com/get-support/",
      "email": "api@keap.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "api.infusionsoft.com",
  "basePath": "/crm/rest/app",
  "tags": [
    {
      "name": "Affiliate",
      "description": "Rest Affiliate Controller"
    },
    {
      "name": "Automation",
      "description": "Automations-Endpoint"
    },
    {
      "name": "AutomationCategory",
      "description": "Rest Automation Category Controller"
    },
    {
      "name": "Business Profile",
      "description": "Business-Profile-Endpoint"
    },
    {
      "name": "Campaign",
      "description": "Campaigns-Endpoint"
    },
    {
      "name": "Category Discount",
      "description": "Rest Category Discount Controller"
    },
    {
      "name": "Company",
      "description": "Rest Company Controller"
    },
    {
      "name": "Contact",
      "description": "Rest Contact Controller"
    },
    {
      "name": "Email",
      "description": "Rest Email Controller"
    },
    {
      "name": "Email Address",
      "description": "Rest Api Email Address Controller"
    },
    {
      "name": "Free Trial Discount",
      "description": "Rest Free Trial Discount Controller"
    },
    {
      "name": "FunnelIntegration",
      "description": "Funnel Integrations"
    },
    {
      "name": "Landing Pages",
      "description": "Rest Landing Page Controller"
    },
    {
      "name": "Lead Sources",
      "description": "Rest Lead Source Controller"
    },
    {
      "name": "Locale",
      "description": "Rest Locale Controller"
    },
    {
      "name": "Merchant",
      "description": "Rest Merchant Controller"
    },
    {
      "name": "Note",
      "description": "Rest Note Controller"
    },
    {
      "name": "Opportunity",
      "description": "Rest Opportunity Controller"
    },
    {
      "name": "Order Total Discount",
      "description": "Rest Order Total Discount Controller"
    },
    {
      "name": "Orders",
      "description": "Rest Order Controller"
    },
    {
      "name": "PaymentMethodConfig",
      "description": "Rest Payment Method Config Controller"
    },
    {
      "name": "Product",
      "description": "Product-V2-Endpoint"
    },
    {
      "name": "Referral",
      "description": "Referrals-V2-Endpoint"
    },
    {
      "name": "Reporting",
      "description": "Rest Reporting Controller"
    },
    {
      "name": "Sales",
      "description": "Sale-V2-Endpoint"
    },
    {
      "name": "Settings",
      "description": "Rest Setting Controller"
    },
    {
      "name": "Shipping",
      "description": "Rest Shipping Methods Controller"
    },
    {
      "name": "Shipping Discount",
      "description": "Rest Shipping Discount Controller"
    },
    {
      "name": "Subscription Plans",
      "description": "Rest Subscription Plan Controller"
    },
    {
      "name": "Subscriptions",
      "description": "Rest Subscriptions Controller"
    },
    {
      "name": "Tags",
      "description": "Rest Tag Controller"
    },
    {
      "name": "Task",
      "description": "Rest Task Controller"
    },
    {
      "name": "Users",
      "description": "Rest User Controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v2/affiliates": {
      "post": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Create an Affiliate",
        "description": "Creates a single Affiliate",
        "operationId": "addAffiliateUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "insertAffiliate",
            "description": "Affiliate request to insert",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateAffiliateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/RestAffiliate"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "List Affiliate Commission Programs",
        "description": "Retrieves a list of Affiliate Commission Programs",
        "operationId": "listAffiliateCommissionProgramsUsingGET",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:  \n- (String) name  \n- (String) affiliate_id \n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.  \nOne of the following fields:  \n- name  \n- date_created  \nOne of the following directions:  \n- asc  \n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAffiliateCommissionProgramsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Create an Affiliate Commission Program",
        "description": "Creates an Affiliate Commission Program",
        "operationId": "addCommissionProgramUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "Insert Commission Program",
            "description": "Commission Program to insert",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateCommissionProgramRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AffiliateCommissionProgramResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/defaultCommissionProgram/{commission_program_id}": {
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Create a Default Commission Program",
        "description": "Creates a Default Commission Program",
        "operationId": "createDefaultCommissionProgramUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "CreateDefaultCommissionProgramRequest",
            "description": "Values of the Default Commission Program",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateDefaultCommissionProgramRequest"
            }
          },
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SetDefaultCommissionProgramResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/defaultCommissionPrograms/{commission_program_id}": {
      "patch": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Update a Default Commission Program",
        "description": "Updates a Default Commission Program",
        "operationId": "patchDefaultCommissionProgramUsingPATCH",
        "parameters": [
          {
            "in": "body",
            "name": "PatchDefaultCommissionProgramRequest",
            "description": "Values of the default Commission Program",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PatchDefaultCommissionProgramRequest"
            }
          },
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "update_mask",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SetDefaultCommissionProgramResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/productCommissionProgram/{commission_program_id}": {
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Assign a Product Commission Program",
        "description": "Assigns a Product Commission Program to a Product",
        "operationId": "assignProductCommissionProgramUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "Product Commission Program",
            "description": "Product Commission Program",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateProductCommissionProgramRequest"
            }
          },
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ProductCommissionProgram"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/productCommissionPrograms/{commission_program_id}": {
      "patch": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Update a Product Commission Program",
        "description": "Updates a Product Commission Program",
        "operationId": "patchProductCommissionProgramUsingPATCH",
        "parameters": [
          {
            "in": "body",
            "name": "PatchProductCommissionProgramRequest",
            "description": "Values of the product Commission Program",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PatchProductCommissionProgramRequest"
            }
          },
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "update_mask",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProductCommissionProgram"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/subscriptionCommissionProgram/{commission_program_id}": {
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Assign a Subscription Commission Program",
        "description": "Assigns a Subscription Commission Program to a Subscription",
        "operationId": "assignSubscriptionCommissionProgramUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "Subscription Commission Program",
            "description": "Subscription Commission Program",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateSubscriptionCommissionProgramRequest"
            }
          },
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SubscriptionCommissionProgram"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/subscriptionCommissionPrograms/{commission_program_id}": {
      "patch": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Update a Subscription Commission Program",
        "description": "Updates a Subscription Commission Program",
        "operationId": "patchSubscriptionCommissionProgramUsingPATCH",
        "parameters": [
          {
            "in": "body",
            "name": "PatchSubscriptionCommissionProgramRequest",
            "description": "Values of the subscription Commission Program",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PatchSubscriptionCommissionProgramRequest"
            }
          },
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "update_mask",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionCommissionProgram"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/{commission_id}:removeSubscriptionCommission": {
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Remove a Subscription from a Commission Program",
        "description": "Removes a Subscription from a Commission Program",
        "operationId": "removeSubscriptionPlanCommissionFromCommissionsUsingPOST",
        "parameters": [
          {
            "name": "commission_id",
            "in": "path",
            "description": "commission_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "deleteSubscriptionPlanCommissionRequest",
            "description": "deleteSubscriptionPlanCommissionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeleteSubscriptionPlanCommissionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/commissionPrograms/{commission_program_id}": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Retrieve a Commission Program",
        "description": "Retrieves a single Commission Program",
        "operationId": "getCommissionProgramUsingGET",
        "parameters": [
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AffiliateProgramV2"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Delete a Commission Program",
        "description": "Deletes a Commission Program",
        "operationId": "deleteAffiliateCommissionProgramUsingDELETE",
        "parameters": [
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Update a Affiliate Commission Program",
        "description": "Updates the properties of an Affiliate Commission Program",
        "operationId": "patchCommissionProgramUsingPATCH",
        "parameters": [
          {
            "name": "commission_program_id",
            "in": "path",
            "description": "commission_program_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "patchCommissionProgramRequest",
            "description": "patchCommissionProgramRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchCommissionProgramRequest"
            }
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false,
            "enum": [
              "name",
              "notes",
              "priority"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AffiliateCommissionProgramResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/model": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Retrieve Affiliate Model",
        "description": "Get the custom fields and optional properties for the Affiliate object",
        "operationId": "getAffiliateCustomFieldsUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObjectModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/model/customFields": {
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Create an Affiliate Custom Field",
        "description": "Creates a single Affiliate Custom Field",
        "operationId": "createAffiliateCustomFieldUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "customField",
            "description": "customField",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCustomFieldRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CustomFieldMetaData"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/model/customFields/{custom_field_id}": {
      "patch": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Update a Custom Field",
        "description": "Updates a custom field of the specified type and options to the Affiliate object.",
        "operationId": "updateAffiliateCustomFieldUsingPATCH",
        "parameters": [
          {
            "name": "custom_field_id",
            "in": "path",
            "description": "custom_field_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateCustomFieldMetaDataRequest"
            }
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "An optional list of fields to be updated. If set, only the provided properties will be updated and others will be skipped.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false,
            "enum": [
              "group_id",
              "label",
              "options"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CustomFieldMetaData"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/redirects": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "List Affiliate Links",
        "description": "Retrieves a list of Affiliate Links",
        "operationId": "listAffiliateLinksUsingGET",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:  \n- (String) name  \n- (String) affiliate_id \n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.  \nOne of the following fields:  \n- name  \n- date_created  \nOne of the following directions:  \n- asc  \n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAffiliateLinksResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Create an Affiliate Link",
        "description": "Creates a single Affiliate Link",
        "operationId": "createRedirectLinkUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrPatchAffiliateLinkRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AffiliateLink"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/redirects/{redirect_id}": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Retrieve an Affiliate Link",
        "description": "Retrieves information about a single Affiliate Link",
        "operationId": "getRedirectLinkUsingGET",
        "parameters": [
          {
            "name": "redirect_id",
            "in": "path",
            "description": "redirect_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AffiliateLink"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Delete an Affiliate Link",
        "description": "Deletes an Affiliate Link",
        "operationId": "deleteRedirectLinkUsingDELETE",
        "parameters": [
          {
            "name": "redirect_id",
            "in": "path",
            "description": "redirect_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Update an Affiliate Link",
        "description": "Updates an Affiliate Link",
        "operationId": "updateRedirectLinkUsingPATCH",
        "parameters": [
          {
            "name": "redirect_id",
            "in": "path",
            "description": "redirect_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateOrPatchAffiliateLinkRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AffiliateLink"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/summaries": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "List Affiliate Summaries",
        "description": "Retrieve a list of Affiliate Summaries",
        "operationId": "listSummariesUsingGET_1",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:\n- (List[String]) affiliate_ids\n- (String) since_time\n- (String) until_time\nYou will need to apply the `==` operator to check the equality of one of the filters with your searched\n word, in the encoded form `%3D%3D`. For the filters listed above, here are some examples:\n - `filter=since_time%3D%3D2024-09-17T-15:50+00`\n - `filter=until_time%3D%3D2024-09-17T-15:50+00`\n - `filter=affiliate_ids%3D%3D123,456,789`\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.\nOne of the following fields:\n- affiliate_id\n- amount_earned\n- balance\n- clawbacks\nOne of the following directions:\n- asc\n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAffiliateSummariesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/{affiliate_id}/commissionTotal": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Retrieve Affiliate Commission Earned and View LedgerURl for portal",
        "description": "Get the Affiliate Commission Earned and View LedgerURl for portal",
        "operationId": "getAffiliateCommissionTotalUsingGET",
        "parameters": [
          {
            "name": "affiliate_id",
            "in": "path",
            "description": "affiliate_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AffiliateCommissionEarned"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/{affiliate_id}:commissions": {
      "get": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Retrieve Affiliate Commission and Clawbacks",
        "description": "Retrieve a list of Affiliate's Commissions and Clawbacks",
        "operationId": "getAffiliateCommissionsUsingGET",
        "parameters": [
          {
            "name": "affiliate_id",
            "in": "path",
            "description": "affiliate_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:  \n- (String) affiliateId \n- (String) since \n- (String) until \n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.  \nOne of the following fields:  \n- date_earned  \nOne of the following directions:  \n- asc  \n- date_created  \n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAffiliateCommissionResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/{id}": {
      "get": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Retrieve an Affiliate",
        "description": "Retrieves a single Affiliate",
        "operationId": "getAffiliateUsingGET_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestAffiliate"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Delete Affiliate",
        "description": "Deletes the specified Affiliate",
        "operationId": "deleteAffiliateUsingDELETE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Affiliate"
        ],
        "summary": "Update an Affiliate",
        "description": "Updates a single Affiliate",
        "operationId": "updateAffiliateUsingPATCH",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "patchAffiliate",
            "description": "Affiliate request to patch",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PatchAffiliateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestAffiliate"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/{id}:assignToProgram": {
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Assign Affiliate to Commission program",
        "description": "Assigns an Affiliate to Commission Program",
        "operationId": "addAffiliateToProgramUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "affiliateAddToProgramRequest",
            "description": "affiliateAddToProgramRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AffiliateAddToProgramRequest"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/affiliates/{id}:removeFromProgram": {
      "post": {
        "tags": [
          "Pre-Release",
          "Affiliate"
        ],
        "summary": "Remove an Affiliate from a Commission Program",
        "description": "Removes an Affiliate from a Commission Program",
        "operationId": "removeAffiliateFromProgramUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "removeFromProgramRequest",
            "description": "removeFromProgramRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AffiliateRemoveFromProgramRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/automationCategory": {
      "get": {
        "tags": [
          "AutomationCategory"
        ],
        "summary": "List automation categories",
        "description": "Lists all automation categories based on the request parameters",
        "operationId": "listCategoriesUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAutomationCategoryResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "AutomationCategory"
        ],
        "summary": "Create automation category",
        "description": "Creates a single automation category",
        "operationId": "createCategoryUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "createAutomationCategoryRequest",
            "description": "createAutomationCategoryRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateAutomationCategoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AutomationCategory"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "AutomationCategory"
        ],
        "summary": "Save automation category",
        "description": "Creates or updates a single automation category",
        "operationId": "saveCategoryUsingPUT",
        "parameters": [
          {
            "in": "body",
            "name": "saveAutomationCategoryRequest",
            "description": "saveAutomationCategoryRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SaveAutomationCategoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AutomationCategory"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "AutomationCategory"
        ],
        "summary": "Delete automation category",
        "description": "Deletes one or more automation categories based on the request parameters",
        "operationId": "deleteCategoriesUsingDELETE",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "ids",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/automations": {
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "List Automations",
        "description": "Lists all automations based on the request parameters.",
        "operationId": "listAutomationsUsingGET",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:  \n- (String) name  \n\nYou will need to apply the `==` operator to check the equality of the filter with your searched \ntext, in the encoded form `%3D%3D`. The search will look for the text anywhere in the automation name. \n - `filter=name%3D%3DSpring Automation` \n- `filter=name%3D%3DTag New Contacts` \n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.  \nOne of the following fields:  \n- name  \n- category  \n- activeContacts  \n- publishedDate  \nOne of the following directions:  \n- asc  \n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          },
          {
            "name": "stats",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAutomationResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Automation"
        ],
        "summary": "Delete an Automation",
        "description": "Deletes a single automation",
        "operationId": "deleteAutomationUsingDELETE",
        "parameters": [
          {
            "name": "automation_ids",
            "in": "query",
            "description": "automation_ids",
            "required": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/automations/category": {
      "put": {
        "tags": [
          "Automation"
        ],
        "summary": "Update an Automation's Category",
        "description": "Updates the category of one or more automations",
        "operationId": "updateAutomationCategoryUsingPUT",
        "parameters": [
          {
            "in": "body",
            "name": "updateAutomationCategoryRequest",
            "description": "updateAutomationCategoryRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAutomationCategoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/automations/ids": {
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "List Automations Ids",
        "description": "Lists all automations ids based on the request parameters.",
        "operationId": "listAllAutomationIdsUsingGET",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:  \n- (String) name  \n\nYou will need to apply the `==` operator to check the equality of the filter with your searched \ntext, in the encoded form `%3D%3D`. The search will look for the text anywhere in the automation name. \n - `filter=name%3D%3DSpring Automation` \n- `filter=name%3D%3DTag New Contacts` \n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.  \nOne of the following fields:  \n- name  \n- category  \n- activeContacts  \n- publishedDate  \nOne of the following directions:  \n- asc  \n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          },
          {
            "name": "stats",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListAutomationIdsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/automations/{automation_id}": {
      "get": {
        "tags": [
          "Automation"
        ],
        "summary": "Retrieve an Automation",
        "description": "Retrieves a single automation",
        "operationId": "getAutomationUsingGET",
        "parameters": [
          {
            "name": "automation_id",
            "in": "path",
            "description": "automation_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/automations/{automation_id}/sequences/{sequence_id}:addContacts": {
      "post": {
        "tags": [
          "Automation"
        ],
        "summary": "Add Contacts to an Automation Sequence",
        "description": "Adds a list of contacts to an automation sequence\nResponse contains a map of the provided list of Contact Ids and their individual result.",
        "operationId": "addContactsToAutomationSequenceUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "addToAutomationSequenceRequest",
            "description": "addToAutomationSequenceRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddToAutomationSequenceRequest"
            }
          },
          {
            "name": "automation_id",
            "in": "path",
            "description": "automation_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "sequence_id",
            "in": "path",
            "description": "sequence_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddToAutomationSequenceResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/businessProfile": {
      "get": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Retrieve Business Profile",
        "description": "Retrieves Business Profile information.",
        "operationId": "getBusinessProfileUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetBusinessProfileResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Business Profile"
        ],
        "summary": "Update Business Profile",
        "description": "Updates Business Profile information.",
        "operationId": "patchBusinessProfileUsingPATCH",
        "parameters": [
          {
            "in": "body",
            "name": "businessProfile",
            "description": "businessProfile",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PatchBusinessProfileRequest"
            }
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "An optional list of fields to be updated. If set, only the fields provided in the update_mask will be updated and others will be skipped.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false,
            "enum": [
              "name",
              "email",
              "website",
              "phone",
              "address",
              "currency_code",
              "business_goals",
              "business_primary_color",
              "business_secondary_color"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetBusinessProfileResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/campaigns": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "List Campaigns",
        "description": "Retrieves all campaigns for the authenticated user",
        "operationId": "listCampaignsUsingGET_1",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:  \n- (String) name  \n\nYou will need to apply the `==` operator to check the equality of the filter with your searched \ntext, in the encoded form `%3D%3D`. The search will look for the text anywhere in the campaign name. \n - `filter=name%3D%3DSpring Campaign` \n- `filter=name%3D%3DTag New Contacts` \n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.  \nOne of the following fields:  \n- name  \n- publisheddate  \n- id  \n- completedContactCount  \n- activeContacts  \n- datecreated  \n- lastupdated  \nOne of the following directions:  \n- asc  \n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          },
          {
            "name": "stats",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCampaignsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/campaigns/{campaign_id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "summary": "Retrieve a Campaign",
        "description": "Retrieves a single campaign",
        "operationId": "getCampaignUsingGET_1",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "campaign_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Campaign"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/campaigns/{campaign_id}/sequences/{sequence_id}:addContacts": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Add Contacts to Campaign Sequence",
        "description": "Adds a list of contacts to a campaign sequence\nResponse contains a map of the provided list of Contact Ids related to their individual result.",
        "operationId": "addContactsToCampaignSequenceUsingPOST_1",
        "parameters": [
          {
            "in": "body",
            "name": "addContactsToSequenceRequest",
            "description": "addContactsToSequenceRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddContactsToSequenceRequest"
            }
          },
          {
            "name": "campaign_id",
            "in": "path",
            "description": "campaign_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "sequence_id",
            "in": "path",
            "description": "sequence_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddContactsToSequenceResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/campaigns/{campaign_id}/sequences/{sequence_id}:removeContacts": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "summary": "Remove Contacts from Campaign Sequence",
        "description": "Removes a list of contacts from a campaign sequence\nResponse contains a map of the provided list of Contact Ids related to their individual result.",
        "operationId": "removeContactsFromCampaignSequenceUsingPOST",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "path",
            "description": "campaign_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "removeContactsFromSequenceRequest",
            "description": "removeContactsFromSequenceRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveContactsFromSequenceRequest"
            }
          },
          {
            "name": "sequence_id",
            "in": "path",
            "description": "sequence_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RemoveContactsFromSequenceResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/companies": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "List Companies",
        "description": "Retrieves a list of all Companies",
        "operationId": "listCompaniesUsingGET_1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-delimited list of Company properties to include in the response. (Fields such as `notes`, `fax_number` and `custom_fields` aren't included, by default.)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Search filter to apply to results",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items by. E.g. `given_name desc`",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListCompaniesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Company"
        ],
        "summary": "Create a Company",
        "description": "Creates a new Company.`country_code` is required if `region` is specified.",
        "operationId": "createCompanyUsingPOST_1",
        "parameters": [
          {
            "in": "body",
            "name": "company",
            "description": "company",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreateCompanyRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/companies/{company_id}": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Retrieve a Company",
        "description": "Retrieves a single Company",
        "operationId": "getCompanyUsingGET_1",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "company_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-delimited list of Company properties to include in the response. (Available fields are: `company_name`, `address`, `custom_fields`, `email_address`, `fax_number`, `phone_number`, `website`, `notes`)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Company"
        ],
        "summary": "Delete a Company",
        "description": "Deletes the specified Company",
        "operationId": "deleteCompanyUsingDELETE",
        "parameters": [
          {
            "name": "company_id",
            "in": "path",
            "description": "company_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Company"
        ],
        "summary": "Update a Company",
        "description": "Updates a Company with the values provided in the request",
        "operationId": "patchCompanyUsingPATCH",
        "parameters": [
          {
            "in": "body",
            "name": "company",
            "description": "company",
            "required": false,
            "schema": {
              "$ref": "#/definitions/PatchCompanyRequest"
            }
          },
          {
            "name": "company_id",
            "in": "path",
            "description": "company_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false,
            "enum": [
              "id",
              "company_name",
              "address",
              "phone_number",
              "fax_number",
              "email_address",
              "notes",
              "website",
              "custom_fields",
              "create_time",
              "update_time"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Company"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/contacts": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "List Contacts",
        "description": "Retrieves a list of Contacts",
        "operationId": "listContactsUsingGET_1",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-delimited list of Contact properties to include in the response. (Available fields are: `score_value`, `addresses`, `anniversary`, `birthday`, `company`, `contact_type`, `custom_fields`, `create_time`, `email_addresses`, `fax_numbers`, `job_title`, `update_time`, `create_time`, `leadsource_id`,`middle_name`, `origin`, `owner_id`, `phone_numbers`, `preferred_locale`, `preferred_name`,`prefix`, `relationships`, `social_accounts`, `source_type`, `spouse_name`, `suffix`, `time_zone`,`website`, `tag_ids`, `utm_parameters`)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply, allowed fields are:  \n- (String) email  \n- (String) given_name  \n- (String) family_name  \n- (String) company_id  \n- (Set[String]) contact_ids  \n- (String) start_update_time  \n- (String) end_update_time \n\nYou will need to apply the `==` operator to check the equality of one of the filters with your searched \nword, in the encoded form `%3D%3D`. For the filters listed above, here are some examples: \n - `filter=given_name%3D%3DMary` \n- `filter=company_id%3D%3D123` \n- `filter=company_id%3D%3D123%3Bfamily_name%3D%3DSmith` \n",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items.  \nOne of the following fields:  \n- id  \n- date_created  \n- email  \nOne of the following directions:  \n- asc  \n- desc",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListContactsResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create a Contact",
        "description": "Creates a new Contact.\n*Note:* Contact must contain at least one item in `email_addresses` or `phone_numbers` and `country_code` is required if `region` is specified.",
        "operationId": "createContactUsingPOST_1",
        "parameters": [
          {
            "in": "body",
            "name": "contact",
            "description": "contact",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreatePatchContactRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/contacts/links/types": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "List Contact Link types",
        "description": "Retrieves a list of Contact Link types.",
        "operationId": "listContactLinkTypesUsingGET",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Search filter to apply to results. Formatted as (unencoded) ?filter=name==expectedValue",
            "required": false,
            "type": "string",
            "enum": [
              "name"
            ]
          },
          {
            "name": "orderBy",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListContactLinkTypesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Create a Contact Link type",
        "description": "Creates a new type of Contact Link.",
        "operationId": "createContactLinkTypeUsingPOST",
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateContactLinkTypeRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ContactLinkType"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/contacts/model": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Retrieve Contact Model",
        "description": "Get the custom fields and optional properties for the Contact object",
        "operationId": "retrieveContactModelUsingGET_1",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ObjectModel"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/contacts/{contact_id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Retrieve a Contact",
        "description": "Retrieves a single Contact",
        "operationId": "getContactUsingGET_1",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "contact_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-delimited list of Contact properties to include in the response. (Available fields are: `score_value`, `addresses`, `anniversary`, `birthday`, `company`, `contact_type`, `custom_fields`, `create_time`, `email_addresses`, `fax_numbers`, `job_title`, `update_time`, `create_time`, `leadsource_id`,`middle_name`, `origin`, `owner_id`, `phone_numbers`, `preferred_locale`, `preferred_name`,`prefix`, `relationships`, `social_accounts`, `source_type`, `spouse_name`, `suffix`, `time_zone`,`website`, `tag_ids`, `utm_parameters`)",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete a Contact",
        "description": "Deletes the specified Contact.",
        "operationId": "deleteContactUsingDELETE_1",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "contact_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "Contact"
        ],
        "summary": "Update a Contact",
        "description": "Updates a Contact",
        "operationId": "patchContactUsingPATCH",
        "parameters": [
          {
            "in": "body",
            "name": "contact",
            "description": "contact",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CreatePatchContactRequest"
            }
          },
          {
            "name": "contact_id",
            "in": "path",
            "description": "contact_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "update_mask",
            "in": "query",
            "description": "An optional list of properties to be updated. If set, only the provided properties will be updated and others will be skipped.",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "allowEmptyValue": false,
            "enum": [
              "addresses",
              "anniversary",
              "birthday",
              "company",
              "contact_type",
              "custom_fields",
              "email_addresses",
              "family_name",
              "fax_numbers",
              "given_name",
              "job_title",
              "lead_source_id",
              "links",
              "middle_name",
              "notes",
              "opt_in_reason",
              "origin",
              "owner_id",
              "phone_numbers",
              "preferred_locale",
              "preferred_name",
              "prefix",
              "referral_code",
              "social_accounts",
              "source_type",
              "spouse_name",
              "suffix",
              "time_zone",
              "website",
              "utm_parameters"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Contact"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/contacts/{contact_id}/links": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "List Linked Contacts",
        "description": "Retrieves a list of Linked Contacts for a given Contact",
        "operationId": "listContactLinksUsingGET",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "contact_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListContactLinksResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/contacts/{contact_id}/notes": {
      "get": {
        "tags": [
          "Note"
        ],
        "summary": "List Notes",
        "description": "Retrieves a list of Notes",
        "operationId": "listNotesUsingGET_1",
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "description": "contact_id",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Search filter to apply to results",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Attribute and direction to order items by. E.g. `given_name desc`",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Total number of items to return per page",
            "required": false,
            "type": "integer",
            "maximum": 1000,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32",
            "x-example": 0
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Page token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListNotesResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Note"
        ],
        "summary": "Create a Note",
        "description": "Creates a new Note.",
        "operationId": "createNoteUsingPOST_1",
        "parameters": [
          {
[...]
