openapi: 3.0.1
info:
  contact:
    name: https://developer.keap.com/get-support/
  termsOfService: https://keap.com/legal
  title: Keap REST API
  version: 2.70.0.739356-hf-202411181744
servers:
- url: https://api.infusionsoft.com/crm/rest/app
tags:
- description: Rest Affiliate Controller
  name: Affiliate
- description: Automations-Endpoint
  name: Automation
- description: Rest Automation Category Controller
  name: AutomationCategory
- description: Business-Profile-Endpoint
  name: Business Profile
- description: Campaigns-Endpoint
  name: Campaign
- description: Rest Category Discount Controller
  name: Category Discount
- description: Rest Company Controller
  name: Company
- description: Rest Contact Controller
  name: Contact
- description: Rest Email Controller
  name: Email
- description: Rest Api Email Address Controller
  name: Email Address
- description: Rest Free Trial Discount Controller
  name: Free Trial Discount
- description: Funnel Integrations
  name: FunnelIntegration
- description: Rest Landing Page Controller
  name: Landing Pages
- description: Rest Lead Source Controller
  name: Lead Sources
- description: Rest Locale Controller
  name: Locale
- description: Rest Merchant Controller
  name: Merchant
- description: Rest Note Controller
  name: Note
- description: Rest Opportunity Controller
  name: Opportunity
- description: Rest Order Controller
  name: Orders
- description: Rest Payment Method Config Controller
  name: PaymentMethodConfig
- description: Product-V2-Endpoint
  name: Product
- description: Referrals-V2-Endpoint
  name: Referral
- description: Rest Reporting Controller
  name: Reporting
- description: Sale-V2-Endpoint
  name: Sales
- description: Rest Setting Controller
  name: Settings
- description: Rest Shipping Methods Controller
  name: Shipping
- description: Rest Subscription Plan Controller
  name: Subscription Plans
- description: Rest Subscriptions Controller
  name: Subscriptions
- description: Tags-V2-Endpoint
  name: Tags
- description: Rest Task Controller
  name: Task
- description: Rest User Controller
  name: Users
paths:
  /v2/affiliates:
    post:
      deprecated: false
      description: Creates a single Affiliate
      operationId: addAffiliateUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAffiliateRequest"
        description: Affiliate request to insert
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestAffiliate"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create an Affiliate
      tags:
      - Affiliate
      x-codegen-request-body-name: insertAffiliate
  /v2/affiliates/commissionPrograms:
    get:
      deprecated: false
      description: Retrieves a list of Affiliate Commission Programs
      operationId: listAffiliateCommissionProgramsUsingGET
      parameters:
      - description: "Filter to apply, allowed fields are:  \n- (String) name  \n\
          - (String) affiliate_id \n"
        in: query
        name: filter
        schema:
          type: string
      - description: "Attribute and direction to order items.  \nOne of the following\
          \ fields:  \n- name  \n- date_created  \nOne of the following directions:\
          \  \n- asc  \n- desc"
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAffiliateCommissionProgramsResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Affiliate Commission Programs
      tags:
      - Pre-Release
      - Affiliate
    post:
      deprecated: false
      description: Creates an Affiliate Commission Program
      operationId: addCommissionProgramUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCommissionProgramRequest"
        description: Commission Program to insert
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AffiliateCommissionProgramResponse"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create an Affiliate Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: Insert Commission Program
  /v2/affiliates/commissionPrograms/defaultCommissionProgram/{commission_program_id}:
    post:
      deprecated: false
      description: Creates a Default Commission Program
      operationId: createDefaultCommissionProgramUsingPOST
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDefaultCommissionProgramRequest"
        description: Values of the Default Commission Program
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetDefaultCommissionProgramResponse"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create a Default Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: CreateDefaultCommissionProgramRequest
  /v2/affiliates/commissionPrograms/defaultCommissionPrograms/{commission_program_id}:
    patch:
      deprecated: false
      description: Updates a Default Commission Program
      operationId: patchDefaultCommissionProgramUsingPATCH
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      - description: update_mask
        explode: true
        in: query
        name: update_mask
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchDefaultCommissionProgramRequest"
        description: Values of the default Commission Program
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SetDefaultCommissionProgramResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Default Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: PatchDefaultCommissionProgramRequest
  /v2/affiliates/commissionPrograms/productCommissionProgram/{commission_program_id}:
    post:
      deprecated: false
      description: Assigns a Product Commission Program to a Product
      operationId: assignProductCommissionProgramUsingPOST
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProductCommissionProgramRequest"
        description: Product Commission Program
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductCommissionProgram"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Assign a Product Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: Product Commission Program
  /v2/affiliates/commissionPrograms/productCommissionPrograms/{commission_program_id}:
    patch:
      deprecated: false
      description: Updates a Product Commission Program
      operationId: patchProductCommissionProgramUsingPATCH
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      - description: update_mask
        explode: true
        in: query
        name: update_mask
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchProductCommissionProgramRequest"
        description: Values of the product Commission Program
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductCommissionProgram"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Product Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: PatchProductCommissionProgramRequest
  /v2/affiliates/commissionPrograms/subscriptionCommissionProgram/{commission_program_id}:
    post:
      deprecated: false
      description: Assigns a Subscription Commission Program to a Subscription
      operationId: assignSubscriptionCommissionProgramUsingPOST
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSubscriptionCommissionProgramRequest"
        description: Subscription Commission Program
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionCommissionProgram"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Assign a Subscription Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: Subscription Commission Program
  /v2/affiliates/commissionPrograms/subscriptionCommissionPrograms/{commission_program_id}:
    patch:
      deprecated: false
      description: Updates a Subscription Commission Program
      operationId: patchSubscriptionCommissionProgramUsingPATCH
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      - description: update_mask
        explode: true
        in: query
        name: update_mask
        schema:
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchSubscriptionCommissionProgramRequest"
        description: Values of the subscription Commission Program
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubscriptionCommissionProgram"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Subscription Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: PatchSubscriptionCommissionProgramRequest
  /v2/affiliates/commissionPrograms/{commission_id}:removeSubscriptionCommission:
    post:
      deprecated: false
      description: Removes a Subscription from a Commission Program
      operationId: removeSubscriptionPlanCommissionFromCommissionsUsingPOST
      parameters:
      - description: commission_id
        in: path
        name: commission_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeleteSubscriptionPlanCommissionRequest"
        description: deleteSubscriptionPlanCommissionRequest
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Remove a Subscription from a Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: deleteSubscriptionPlanCommissionRequest
  /v2/affiliates/commissionPrograms/{commission_program_id}:
    delete:
      deprecated: false
      description: Deletes a Commission Program
      operationId: deleteAffiliateCommissionProgramUsingDELETE
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete a Commission Program
      tags:
      - Pre-Release
      - Affiliate
    get:
      deprecated: false
      description: Retrieves a single Commission Program
      operationId: getCommissionProgramUsingGET
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AffiliateProgramV2"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve a Commission Program
      tags:
      - Pre-Release
      - Affiliate
    patch:
      deprecated: false
      description: Updates the properties of an Affiliate Commission Program
      operationId: patchCommissionProgramUsingPATCH
      parameters:
      - description: commission_program_id
        in: path
        name: commission_program_id
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: "An optional list of properties to be updated. If set, only the\
          \ provided properties will be updated and others will be skipped."
        explode: true
        in: query
        name: update_mask
        schema:
          enum:
          - name
          - notes
          - priority
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchCommissionProgramRequest"
        description: patchCommissionProgramRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AffiliateCommissionProgramResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Affiliate Commission Program
      tags:
      - Affiliate
      x-codegen-request-body-name: patchCommissionProgramRequest
  /v2/affiliates/model:
    get:
      deprecated: false
      description: Get the custom fields and optional properties for the Affiliate
        object
      operationId: getAffiliateCustomFieldsUsingGET
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectModel"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve Affiliate Model
      tags:
      - Pre-Release
      - Affiliate
  /v2/affiliates/model/customFields:
    post:
      deprecated: false
      description: Creates a single Affiliate Custom Field
      operationId: createAffiliateCustomFieldUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomFieldRequest"
        description: customField
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomFieldMetaData"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create an Affiliate Custom Field
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: customField
  /v2/affiliates/model/customFields/{custom_field_id}:
    patch:
      deprecated: false
      description: Updates a custom field of the specified type and options to the
        Affiliate object.
      operationId: updateAffiliateCustomFieldUsingPATCH
      parameters:
      - description: custom_field_id
        in: path
        name: custom_field_id
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: "An optional list of fields to be updated. If set, only the provided\
          \ properties will be updated and others will be skipped."
        explode: true
        in: query
        name: update_mask
        schema:
          enum:
          - group_id
          - label
          - options
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCustomFieldMetaDataRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomFieldMetaData"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Custom Field
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: request
  /v2/affiliates/redirects:
    get:
      deprecated: false
      description: Retrieves a list of Affiliate Links
      operationId: listAffiliateLinksUsingGET
      parameters:
      - description: "Filter to apply, allowed fields are:  \n- (String) name  \n\
          - (String) affiliate_id \n"
        in: query
        name: filter
        schema:
          type: string
      - description: "Attribute and direction to order items.  \nOne of the following\
          \ fields:  \n- name  \n- date_created  \nOne of the following directions:\
          \  \n- asc  \n- desc"
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAffiliateLinksResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Affiliate Links
      tags:
      - Pre-Release
      - Affiliate
    post:
      deprecated: false
      description: Creates a single Affiliate Link
      operationId: createRedirectLinkUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrPatchAffiliateLinkRequest"
        description: request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AffiliateLink"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create an Affiliate Link
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: request
  /v2/affiliates/redirects/{redirect_id}:
    delete:
      deprecated: false
      description: Deletes an Affiliate Link
      operationId: deleteRedirectLinkUsingDELETE
      parameters:
      - description: redirect_id
        in: path
        name: redirect_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content: {}
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete an Affiliate Link
      tags:
      - Pre-Release
      - Affiliate
    get:
      deprecated: false
      description: Retrieves information about a single Affiliate Link
      operationId: getRedirectLinkUsingGET
      parameters:
      - description: redirect_id
        in: path
        name: redirect_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AffiliateLink"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve an Affiliate Link
      tags:
      - Pre-Release
      - Affiliate
    patch:
      deprecated: false
      description: Updates an Affiliate Link
      operationId: updateRedirectLinkUsingPATCH
      parameters:
      - description: redirect_id
        in: path
        name: redirect_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrPatchAffiliateLinkRequest"
        description: request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AffiliateLink"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update an Affiliate Link
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: request
  /v2/affiliates/summaries:
    get:
      deprecated: false
      description: Retrieve a list of Affiliate Summaries
      operationId: listSummariesUsingGET_1
      parameters:
      - description: |
          Filter to apply, allowed fields are:
          - (List[String]) affiliate_ids
          - (String) since_time
          - (String) until_time
          You will need to apply the `==` operator to check the equality of one of the filters with your searched
           word, in the encoded form `%3D%3D`. For the filters listed above, here are some examples:
           - `filter=since_time%3D%3D2024-09-17T-15:50+00`
           - `filter=until_time%3D%3D2024-09-17T-15:50+00`
           - `filter=affiliate_ids%3D%3D123,456,789`
        in: query
        name: filter
        schema:
          type: string
      - description: |-
          Attribute and direction to order items.
          One of the following fields:
          - affiliate_id
          - amount_earned
          - balance
          - clawbacks
          One of the following directions:
          - asc
          - desc
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAffiliateSummariesResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Affiliate Summaries
      tags:
      - Pre-Release
      - Affiliate
  /v2/affiliates/{affiliate_id}/commissionTotal:
    get:
      deprecated: false
      description: Get the Affiliate Commission Earned and View LedgerURl for portal
      operationId: getAffiliateCommissionTotalUsingGET
      parameters:
      - description: affiliate_id
        in: path
        name: affiliate_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AffiliateCommissionEarned"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve Affiliate Commission Earned and View LedgerURl for portal
      tags:
      - Pre-Release
      - Affiliate
  /v2/affiliates/{affiliate_id}:commissions:
    get:
      deprecated: false
      description: Retrieve a list of Affiliate's Commissions and Clawbacks
      operationId: getAffiliateCommissionsUsingGET
      parameters:
      - description: affiliate_id
        in: path
        name: affiliate_id
        required: true
        schema:
          type: string
      - description: "Filter to apply, allowed fields are:  \n- (String) affiliateId\
          \ \n- (String) since \n- (String) until \n"
        in: query
        name: filter
        schema:
          type: string
      - description: "Attribute and direction to order items.  \nOne of the following\
          \ fields:  \n- date_earned  \nOne of the following directions:  \n- asc\
          \  \n- date_created  \n- desc"
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAffiliateCommissionResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve Affiliate Commission and Clawbacks
      tags:
      - Pre-Release
      - Affiliate
  /v2/affiliates/{id}:
    delete:
      deprecated: false
      description: Deletes the specified Affiliate
      operationId: deleteAffiliateUsingDELETE
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "202":
          content: {}
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete Affiliate
      tags:
      - Pre-Release
      - Affiliate
    get:
      deprecated: false
      description: Retrieves a single Affiliate
      operationId: getAffiliateUsingGET_1
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestAffiliate"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve an Affiliate
      tags:
      - Affiliate
    patch:
      deprecated: false
      description: Updates a single Affiliate
      operationId: updateAffiliateUsingPATCH
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchAffiliateRequest"
        description: Affiliate request to patch
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RestAffiliate"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update an Affiliate
      tags:
      - Affiliate
      x-codegen-request-body-name: patchAffiliate
  /v2/affiliates/{id}:assignToProgram:
    post:
      deprecated: false
      description: Assigns an Affiliate to Commission Program
      operationId: addAffiliateToProgramUsingPOST
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliateAddToProgramRequest"
        description: affiliateAddToProgramRequest
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Assign Affiliate to Commission program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: affiliateAddToProgramRequest
  /v2/affiliates/{id}:removeFromProgram:
    post:
      deprecated: false
      description: Removes an Affiliate from a Commission Program
      operationId: removeAffiliateFromProgramUsingPOST
      parameters:
      - description: id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliateRemoveFromProgramRequest"
        description: removeFromProgramRequest
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Remove an Affiliate from a Commission Program
      tags:
      - Pre-Release
      - Affiliate
      x-codegen-request-body-name: removeFromProgramRequest
  /v2/automationCategory:
    delete:
      deprecated: false
      description: Deletes one or more automation categories based on the request
        parameters
      operationId: deleteCategoriesUsingDELETE
      parameters:
      - description: ids
        explode: true
        in: query
        name: ids
        required: true
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete automation category
      tags:
      - AutomationCategory
    get:
      deprecated: false
      description: Lists all automation categories based on the request parameters
      operationId: listCategoriesUsingGET
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAutomationCategoryResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List automation categories
      tags:
      - AutomationCategory
    post:
      deprecated: false
      description: Creates a single automation category
      operationId: createCategoryUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAutomationCategoryRequest"
        description: createAutomationCategoryRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationCategory"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create automation category
      tags:
      - AutomationCategory
      x-codegen-request-body-name: createAutomationCategoryRequest
    put:
      deprecated: false
      description: Creates or updates a single automation category
      operationId: saveCategoryUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveAutomationCategoryRequest"
        description: saveAutomationCategoryRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutomationCategory"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Save automation category
      tags:
      - AutomationCategory
      x-codegen-request-body-name: saveAutomationCategoryRequest
  /v2/automations:
    delete:
      deprecated: false
      description: Deletes a single automation
      operationId: deleteAutomationUsingDELETE
      parameters:
      - description: automation_ids
        explode: true
        in: query
        name: automation_ids
        required: true
        schema:
          items:
            format: int64
            type: integer
          type: array
        style: form
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete an Automation
      tags:
      - Automation
    get:
      deprecated: false
      description: Lists all automations based on the request parameters.
      operationId: listAutomationsUsingGET
      parameters:
      - description: "Filter to apply, allowed fields are:  \n- (String) name  \n\n\
          You will need to apply the `==` operator to check the equality of the filter\
          \ with your searched \ntext, in the encoded form `%3D%3D`. The search will\
          \ look for the text anywhere in the automation name. \n - `filter=name%3D%3DSpring\
          \ Automation` \n- `filter=name%3D%3DTag New Contacts` \n"
        in: query
        name: filter
        schema:
          type: string
      - description: "Attribute and direction to order items.  \nOne of the following\
          \ fields:  \n- name  \n- category  \n- activeContacts  \n- publishedDate\
          \  \nOne of the following directions:  \n- asc  \n- desc"
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      - in: query
        name: stats
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAutomationResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Automations
      tags:
      - Automation
  /v2/automations/category:
    put:
      deprecated: false
      description: Updates the category of one or more automations
      operationId: updateAutomationCategoryUsingPUT
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAutomationCategoryRequest"
        description: updateAutomationCategoryRequest
        required: true
      responses:
        "200":
          content: {}
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update an Automation's Category
      tags:
      - Automation
      x-codegen-request-body-name: updateAutomationCategoryRequest
  /v2/automations/ids:
    get:
      deprecated: false
      description: Lists all automations ids based on the request parameters.
      operationId: listAllAutomationIdsUsingGET
      parameters:
      - description: "Filter to apply, allowed fields are:  \n- (String) name  \n\n\
          You will need to apply the `==` operator to check the equality of the filter\
          \ with your searched \ntext, in the encoded form `%3D%3D`. The search will\
          \ look for the text anywhere in the automation name. \n - `filter=name%3D%3DSpring\
          \ Automation` \n- `filter=name%3D%3DTag New Contacts` \n"
        in: query
        name: filter
        schema:
          type: string
      - description: "Attribute and direction to order items.  \nOne of the following\
          \ fields:  \n- name  \n- category  \n- activeContacts  \n- publishedDate\
          \  \nOne of the following directions:  \n- asc  \n- desc"
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      - in: query
        name: stats
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAutomationIdsResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Automations Ids
      tags:
      - Automation
  /v2/automations/{automation_id}:
    get:
      deprecated: false
      description: Retrieves a single automation
      operationId: getAutomationUsingGET
      parameters:
      - description: automation_id
        in: path
        name: automation_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Automation"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve an Automation
      tags:
      - Automation
  /v2/automations/{automation_id}/sequences/{sequence_id}:addContacts:
    post:
      deprecated: false
      description: |-
        Adds a list of contacts to an automation sequence
        Response contains a map of the provided list of Contact Ids and their individual result.
      operationId: addContactsToAutomationSequenceUsingPOST
      parameters:
      - description: automation_id
        in: path
        name: automation_id
        required: true
        schema:
          type: string
      - description: sequence_id
        in: path
        name: sequence_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddToAutomationSequenceRequest"
        description: addToAutomationSequenceRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddToAutomationSequenceResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Add Contacts to an Automation Sequence
      tags:
      - Automation
      x-codegen-request-body-name: addToAutomationSequenceRequest
  /v2/businessProfile:
    get:
      deprecated: false
      description: Retrieves Business Profile information.
      operationId: getBusinessProfileUsingGET
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBusinessProfileResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve Business Profile
      tags:
      - Business Profile
    patch:
      deprecated: false
      description: Updates Business Profile information.
      operationId: patchBusinessProfileUsingPATCH
      parameters:
      - allowEmptyValue: false
        description: "An optional list of fields to be updated. If set, only the fields\
          \ provided in the update_mask will be updated and others will be skipped."
        explode: true
        in: query
        name: update_mask
        schema:
          enum:
          - name
          - email
          - website
          - phone
          - address
          - currency_code
          - business_goals
          - business_primary_color
          - business_secondary_color
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchBusinessProfileRequest"
        description: businessProfile
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetBusinessProfileResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update Business Profile
      tags:
      - Business Profile
      x-codegen-request-body-name: businessProfile
  /v2/campaigns:
    get:
      deprecated: false
      description: Retrieves all campaigns for the authenticated user
      operationId: listCampaignsUsingGET_1
      parameters:
      - description: "Filter to apply, allowed fields are:  \n- (String) name  \n\n\
          You will need to apply the `==` operator to check the equality of the filter\
          \ with your searched \ntext, in the encoded form `%3D%3D`. The search will\
          \ look for the text anywhere in the campaign name. \n - `filter=name%3D%3DSpring\
          \ Campaign` \n- `filter=name%3D%3DTag New Contacts` \n"
        in: query
        name: filter
        schema:
          type: string
      - description: "Attribute and direction to order items.  \nOne of the following\
          \ fields:  \n- name  \n- publisheddate  \n- id  \n- completedContactCount\
          \  \n- activeContacts  \n- datecreated  \n- lastupdated  \nOne of the following\
          \ directions:  \n- asc  \n- desc"
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      - in: query
        name: stats
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCampaignsResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Campaigns
      tags:
      - Campaign
  /v2/campaigns/{campaign_id}:
    get:
      deprecated: false
      description: Retrieves a single campaign
      operationId: getCampaignUsingGET_1
      parameters:
      - description: campaign_id
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Campaign"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve a Campaign
      tags:
      - Campaign
  /v2/campaigns/{campaign_id}/sequences/{sequence_id}:addContacts:
    post:
      deprecated: false
      description: |-
        Adds a list of contacts to a campaign sequence
        Response contains a map of the provided list of Contact Ids related to their individual result.
      operationId: addContactsToCampaignSequenceUsingPOST_1
      parameters:
      - description: campaign_id
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: sequence_id
        in: path
        name: sequence_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddContactsToSequenceRequest"
        description: addContactsToSequenceRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddContactsToSequenceResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Add Contacts to Campaign Sequence
      tags:
      - Campaign
      x-codegen-request-body-name: addContactsToSequenceRequest
  /v2/campaigns/{campaign_id}/sequences/{sequence_id}:removeContacts:
    post:
      deprecated: false
      description: |-
        Removes a list of contacts from a campaign sequence
        Response contains a map of the provided list of Contact Ids related to their individual result.
      operationId: removeContactsFromCampaignSequenceUsingPOST
      parameters:
      - description: campaign_id
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
      - description: sequence_id
        in: path
        name: sequence_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RemoveContactsFromSequenceRequest"
        description: removeContactsFromSequenceRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveContactsFromSequenceResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Remove Contacts from Campaign Sequence
      tags:
      - Campaign
      x-codegen-request-body-name: removeContactsFromSequenceRequest
  /v2/companies:
    get:
      deprecated: false
      description: Retrieves a list of all Companies
      operationId: listCompaniesUsingGET_1
      parameters:
      - description: "Comma-delimited list of Company properties to include in the\
          \ response. (Fields such as `notes`, `fax_number` and `custom_fields` aren't\
          \ included, by default.)"
        explode: true
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Search filter to apply to results
        in: query
        name: filter
        schema:
          type: string
      - description: Attribute and direction to order items by. E.g. `given_name desc`
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompaniesResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Companies
      tags:
      - Company
    post:
      deprecated: false
      description: Creates a new Company.`country_code` is required if `region` is
        specified.
      operationId: createCompanyUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompanyRequest"
        description: company
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create a Company
      tags:
      - Company
      x-codegen-request-body-name: company
  /v2/companies/{company_id}:
    delete:
      deprecated: false
      description: Deletes the specified Company
      operationId: deleteCompanyUsingDELETE
      parameters:
      - description: company_id
        in: path
        name: company_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete a Company
      tags:
      - Company
    get:
      deprecated: false
      description: Retrieves a single Company
      operationId: getCompanyUsingGET_1
      parameters:
      - description: company_id
        in: path
        name: company_id
        required: true
        schema:
          type: string
      - description: "Comma-delimited list of Company properties to include in the\
          \ response. (Available fields are: `company_name`, `address`, `custom_fields`,\
          \ `email_address`, `fax_number`, `phone_number`, `website`, `notes`)"
        explode: true
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve a Company
      tags:
      - Company
    patch:
      deprecated: false
      description: Updates a Company with the values provided in the request
      operationId: patchCompanyUsingPATCH
      parameters:
      - description: company_id
        in: path
        name: company_id
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: "An optional list of properties to be updated. If set, only the\
          \ provided properties will be updated and others will be skipped."
        explode: true
        in: query
        name: update_mask
        schema:
          enum:
          - id
          - company_name
          - address
          - phone_number
          - fax_number
          - email_address
          - notes
          - website
          - custom_fields
          - create_time
          - update_time
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchCompanyRequest"
        description: company
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Company
      tags:
      - Company
      x-codegen-request-body-name: company
  /v2/contacts:
    get:
      deprecated: false
      description: Retrieves a list of Contacts
      operationId: listContactsUsingGET_1
      parameters:
      - description: "Comma-delimited list of Contact properties to include in the\
          \ response. (Available fields are: `score_value`, `addresses`, `anniversary`,\
          \ `birthday`, `company`, `contact_type`, `custom_fields`, `create_time`,\
          \ `email_addresses`, `fax_numbers`, `job_title`, `update_time`, `create_time`,\
          \ `leadsource_id`,`middle_name`, `origin`, `owner_id`, `phone_numbers`,\
          \ `preferred_locale`, `preferred_name`,`prefix`, `relationships`, `social_accounts`,\
          \ `source_type`, `spouse_name`, `suffix`, `time_zone`,`website`, `tag_ids`,\
          \ `utm_parameters`)"
        explode: true
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Filter to apply, allowed fields are:  \n- (String) email  \n\
          - (String) given_name  \n- (String) family_name  \n- (String) company_id\
          \  \n- (Set[String]) contact_ids  \n- (String) start_update_time  \n- (String)\
          \ end_update_time \n\nYou will need to apply the `==` operator to check\
          \ the equality of one of the filters with your searched \nword, in the encoded\
          \ form `%3D%3D`. For the filters listed above, here are some examples: \n\
          \ - `filter=given_name%3D%3DMary` \n- `filter=company_id%3D%3D123` \n- `filter=company_id%3D%3D123;family_name=Smith`\
          \ \n"
        in: query
        name: filter
        schema:
          type: string
      - description: "Attribute and direction to order items.  \nOne of the following\
          \ fields:  \n- id  \n- date_created  \n- email  \nOne of the following directions:\
          \  \n- asc  \n- desc"
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContactsResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Contacts
      tags:
      - Contact
    post:
      deprecated: false
      description: |-
        Creates a new Contact.
        *Note:* Contact must contain at least one item in `email_addresses` or `phone_numbers` and `country_code` is required if `region` is specified.
      operationId: createContactUsingPOST_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePatchContactRequest"
        description: contact
        required: false
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create a Contact
      tags:
      - Contact
      x-codegen-request-body-name: contact
  /v2/contacts/links/types:
    get:
      deprecated: false
      description: Retrieves a list of Contact Link types.
      operationId: listContactLinkTypesUsingGET
      parameters:
      - description: Search filter to apply to results. Formatted as (unencoded) ?filter=name==expectedValue
        in: query
        name: filter
        schema:
          enum:
          - name
          type: string
      - in: query
        name: orderBy
        schema:
          type: string
      - in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - in: query
        name: pageToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContactLinkTypesResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Contact Link types
      tags:
      - Contact
    post:
      deprecated: false
      description: Creates a new type of Contact Link.
      operationId: createContactLinkTypeUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContactLinkTypeRequest"
        description: request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactLinkType"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create a Contact Link type
      tags:
      - Contact
      x-codegen-request-body-name: request
  /v2/contacts/model:
    get:
      deprecated: false
      description: Get the custom fields and optional properties for the Contact object
      operationId: retrieveContactModelUsingGET_1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectModel"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve Contact Model
      tags:
      - Contact
  /v2/contacts/{contact_id}:
    delete:
      deprecated: false
      description: Deletes the specified Contact.
      operationId: deleteContactUsingDELETE_1
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete a Contact
      tags:
      - Contact
    get:
      deprecated: false
      description: Retrieves a single Contact
      operationId: getContactUsingGET_1
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      - description: "Comma-delimited list of Contact properties to include in the\
          \ response. (Available fields are: `score_value`, `addresses`, `anniversary`,\
          \ `birthday`, `company`, `contact_type`, `custom_fields`, `create_time`,\
          \ `email_addresses`, `fax_numbers`, `job_title`, `update_time`, `create_time`,\
          \ `leadsource_id`,`middle_name`, `origin`, `owner_id`, `phone_numbers`,\
          \ `preferred_locale`, `preferred_name`,`prefix`, `relationships`, `social_accounts`,\
          \ `source_type`, `spouse_name`, `suffix`, `time_zone`,`website`, `tag_ids`,\
          \ `utm_parameters`)"
        explode: true
        in: query
        name: fields
        schema:
          items:
            type: string
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve a Contact
      tags:
      - Contact
    patch:
      deprecated: false
      description: Updates a Contact
      operationId: patchContactUsingPATCH
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: "An optional list of properties to be updated. If set, only the\
          \ provided properties will be updated and others will be skipped."
        explode: true
        in: query
        name: update_mask
        schema:
          enum:
          - addresses
          - anniversary
          - birthday
          - company
          - contact_type
          - custom_fields
          - email_addresses
          - family_name
          - fax_numbers
          - given_name
          - job_title
          - lead_source_id
          - links
          - middle_name
          - notes
          - opt_in_reason
          - origin
          - owner_id
          - phone_numbers
          - preferred_locale
          - preferred_name
          - prefix
          - referral_code
          - social_accounts
          - source_type
          - spouse_name
          - suffix
          - time_zone
          - website
          - utm_parameters
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePatchContactRequest"
        description: contact
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Contact
      tags:
      - Contact
      x-codegen-request-body-name: contact
  /v2/contacts/{contact_id}/links:
    get:
      deprecated: false
      description: Retrieves a list of Linked Contacts for a given Contact
      operationId: listContactLinksUsingGET
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListContactLinksResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Linked Contacts
      tags:
      - Contact
  /v2/contacts/{contact_id}/notes:
    get:
      deprecated: false
      description: Retrieves a list of Notes
      operationId: listNotesUsingGET_1
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      - description: Search filter to apply to results
        in: query
        name: filter
        schema:
          type: string
      - description: Attribute and direction to order items by. E.g. `given_name desc`
        in: query
        name: order_by
        schema:
          type: string
      - description: Total number of items to return per page
        example: 0
        in: query
        name: page_size
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          format: int32
          maximum: 1000
          minimum: 1
          type: integer
      - description: Page token
        in: query
        name: page_token
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListNotesResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: List Notes
      tags:
      - Note
    post:
      deprecated: false
      description: Creates a new Note.
      operationId: createNoteUsingPOST_1
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNoteRequest"
        description: request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Note"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Create a Note
      tags:
      - Note
      x-codegen-request-body-name: request
  /v2/contacts/{contact_id}/notes/{note_id}:
    delete:
      deprecated: false
      description: Deletes the specified Note
      operationId: deleteNoteUsingDELETE_1
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      - description: note_id
        in: path
        name: note_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete a Note
      tags:
      - Note
    get:
      deprecated: false
      description: Retrieves the specified Note
      operationId: getNoteUsingGET_1
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      - description: note_id
        in: path
        name: note_id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNoteResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve a Note
      tags:
      - Note
    patch:
      deprecated: false
      description: Updates a Note for a Contact
      operationId: updateNoteUsingPATCH
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          type: string
      - description: note_id
        in: path
        name: note_id
        required: true
        schema:
          type: string
      - allowEmptyValue: false
        description: "An optional list of fields to be updated. If set, only the provided\
          \ properties will be updated and others will be skipped."
        explode: true
        in: query
        name: update_mask
        schema:
          enum:
          - contact_id
          - text
          - title
          - type
          - user_id
          items:
            type: string
          type: array
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateNoteRequest"
        description: updateNoteRequest
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateNoteResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Update a Note
      tags:
      - Note
      x-codegen-request-body-name: updateNoteRequest
  /v2/contacts/{contact_id}/paymentMethods:
    get:
      deprecated: false
      description: List all Payment Methods for a Contact.
      operationId: listPaymentMethodsUsingGET
      parameters:
      - description: contact_id
        in: path
        name: contact_id
        required: true
        schema:
          format: int64
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodList"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Retrieve Payment Methods
      tags:
      - Contact
  /v2/contacts:link:
    post:
      deprecated: false
      description: Links two Contacts together using the provided Link type
      operationId: linkContactsUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkContactsRequest"
        description: linkContactsRequest
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContactLink"
          description: Created
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Link Contacts
      tags:
      - Contact
      x-codegen-request-body-name: linkContactsRequest
  /v2/contacts:search:
    get:
      deprecated: false
      description: Get a list of Contacts based search parameters.
      operationId: getContactsBySearchTermUsingGET
      parameters:
      - description: searchParam
        in: query
        name: searchParam
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBasicContactResponse"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Search for Contacts
      tags:
      - Pre-Release
      - Contact
  /v2/contacts:unlink:
    post:
      deprecated: false
      description: Deletes Link between two Contacts
      operationId: unlinkContactsUsingPOST
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LinkContactsRequest"
        description: linkContactsRequest
        required: true
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
      summary: Delete Link between two Contacts
      tags:
      - Contact
      x-codegen-request-body-name: linkContactsRequest
  /v2/discounts/freeTrials/{discount_id}:
    delete:
      deprecated: false
      description: Deletes a specified Free Trial Discount
      operationId: deleteDiscountUsingDELETE_1
      parameters:
      - description: discount_id
        in: path
        name: discount_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
          description: Not Found
      summary: Delete a Free Trial Discount
      tags:
      - Pre-Release
      - Free Trial Discount
  /v2/discounts/productCategories/{discount_id}:
    delete:
      deprecated: false
      description: Deletes a specified Category Discount
      operationId: deleteDiscountUsingDELETE
      parameters:
      - description: discount_id
        in: path
        name: discount_id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: No Content
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
[...]
